/* CSS Classes */

:root {
  --heading-size: 2em;
  --main-color: #e66133;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/*---------------- PAGE SCROLL BAR------------------*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5e00;
}
/*---------------- TOP/HEADER ------------------*/
header a img {
  height: 80px;
  margin-top: 5px;
}
header a img:hover {
  transform: scale(1.05);
  transition: 0.1s ease;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 100px;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background-color: #fff;
  padding: 2.5px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header ul {
  position: relative;
  display: flex;
  z-index: 1000;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  font-size: 130%;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
header ul li a:hover {
  color: var(--main-color);
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}
section {
  padding: 100px;
}
/*---------------- TOP/HERO SECTION ------------------*/
.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: rgb(230, 97, 51);
  background: -moz-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e66133",endColorstr="#00c8ed",GradientType=1);
}
.banner h2 {
  font-size: 2em;
  color: var(--main-color);
  font-weight: 500;
  line-height: 2em;
}
.banner h2 span {
  font-family: "Rokkitt", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 8px;
}
.line {
  position: relative;
  top: 50%;
  left: 0;
  width: 3em;
  margin-top: 30px;
  margin-left: 0;
  border-right: 2px solid black;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.banner h3 {
  font-family: "Rokkitt", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
}
.btn {
  position: relative;
  display: inline-block;
  border: 4px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.btn:hover {
  border-color: black;
  box-shadow: 0 0.6em 0.6em -0.4em;
  transition: 0.1s ease;
  transform: translateY(-0.25em);
}
.arrow i {
  position: absolute;
  left: 50%;
  top: 90%;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
/*---------------- ABOUT SECTION ------------------*/
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}
.about {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heading h2 {
  font-weight: 600;
  font-size: 50px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBx p {
  width: 70%;
  font-size: 20px;
}
.contentBx {
  width: 50%;
  padding-right: 20px;
}
.w50 img {
  max-width: 100%;
}
.w50 {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------------- SOCIAL ICONS ------------------*/
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.social-link {
  margin-bottom: 50px;
  margin-top: 50px;
}
.fab {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.s-logo:hover {
  color: var(--main-color);
  transition: 0.1s ease;
  transform: translateY(-0.1em);
}
/*---------------- SKILLS SECTION ------------------*/
.skills {
  background: rgb(230, 97, 51);
  background: -moz-linear-gradient(
    180deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: linear-gradient(
    180deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e66133",endColorstr="#00c8ed",GradientType=1);
}
.content {
  margin-top: 100px;
}
.skills .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills .heading h2 {
  font-size: 50px;
}
i.fa-html5 {
  color: #e96228;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-github {
  color: #1f84f7;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-npm {
  color: #c53635;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-bootstrap {
  color: #7d10f2;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-pencil-ruler {
  color: #6d6c6c;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-wordpress {
  color: #007095;
  filter: drop-shadow(0 0 0.75rem white);
}
#git-social {
  color: black;
}
#git-social:hover {
  color: var(--main-color);
  transition: 0.1s ease;
  transform: translateY(-0.1em);
}
i.fa-git {
  color: #3e2d00;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-react {
  color: #5ed3f3;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-css3 {
  color: #026eb6;
  filter: drop-shadow(0 0 0.75rem white);
}
i.fa-js {
  color: #ffe313;
  filter: drop-shadow(0 0 0.75rem white);
}
.skillsBx {
  padding: 40px 20px;
  flex: 0 0 50%;
  color: black;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
/*---------------- PORTFOLIO SECTION ------------------*/
.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services .content .servicesBx {
  border-radius: 4px;
  padding: 40px 20px;
  background: rgb(230, 97, 51);
  background: -moz-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e66133",endColorstr="#00c8ed",GradientType=1);
  color: black;
  max-width: 600px;
  margin: 20px 120px;
  text-align: center;
  transition: 0.5s;
}
.services .content .servicesBx img {
  width: 500px;
  margin: 0;
  background-position: center;
}
.btn2 {
  position: relative;
  display: inline-block;
  background-color: black;
  border: 4px solid black;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 20px 20px;
  color: white;
  width: 120px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn2:hover {
  border-color: transparent;
  transition: 0.1s ease;
  transform: scale(1.1);
}

/*---------------- CONTACT SECTION ------------------*/
.contact {
  background: rgb(230, 97, 51);
  background: -moz-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  background: linear-gradient(
    0deg,
    rgba(230, 97, 51, 1) 0%,
    rgba(254, 115, 32, 0.6054796918767507) 8%,
    rgba(0, 200, 237, 0) 53%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e66133",endColorstr="#00c8ed",GradientType=1);
}
.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  margin-left: 20px;
}

.contactInfoBx .box .text h3 {
  margin-bottom: 0;
}
.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  background: transparent;
  border: 2px solid black;
}
.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
  font-size: 18px;
}

.formBx form input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}

.formBx form input[type="submit"]:hover {
  border-color: black;
  box-shadow: 0 0.6em 0.6em -0.4em;
  transition: 0.1s ease;
  transform: translateY(-0.25em);
}
/*---------------- ANIMATIONS ------------------*/
/* Frontend Developer subheading */
.anim-typewriter {
  animation: typewriter 2s steps(40) 1 normal both,
    blinkTextCursor 900ms steps(40) 3s infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes textIn {
  0% {
    transform: translate(200px);
  }
}
/* Name scroll down */
.name {
  animation-name: nameIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@keyframes nameIn {
  0% {
    color: transparent;
    transform: translateY(-70px);
  }
  50% {
    color: #e78564;
  }
  100% {
    color: var(--main-color);
  }
}
/* Button scroll up */
.btn {
  animation-name: btnIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@keyframes btnIn {
  0% {
    overflow: hidden;
    border-color: transparent;
    color: transparent;
    transform: translateY(70px);
  }
  50% {
    color: #6d6c6c;
  }
  100% {
    color: black;
  }
}
.social-link {
  animation-name: iconIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@keyframes iconIn {
  0% {
    color: transparent;
    transform: translateX(50px);
  }
  50% {
    color: #6d6c6c;
  }
  100% {
    color: black;
  }
}
.arrow i {
  animation: arrowDown 1.5s infinite;
  animation-delay: 5s;
}
@keyframes arrowDown {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 40px;
  }
  50% {
    height: 30px;
    width: 57px;
    transform: translateY(25px);
  }
  75% {
    height: 50px;
    width: 57px;
  }
  100% {
    transform: translateY(0px);
  }
}
